:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan-variation: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan-variation: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
}

input {
  font-size: 2.4rem;
  font-family: inherit;
}

button {
  font-family: inherit;
}

.main {
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  width: 100%;
}

.main__logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 80px 0;
}

.calculator {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 30px;
  background-color: var(--white);
  margin: 0 auto;
  max-width: 900px;
}

.calculator-container {
  display: flex;
  flex-wrap: wrap;
}

.calculator-container button:hover {
  cursor: pointer;
  background-color: var(--light-grayish-cyan);
  color: black;
}

.calculator-container input:hover {
  cursor: pointer;
  border: var(--dark-grayish-cyan-variation) 2px solid;
}

.calculator__slot {
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.calculator__slot .icon {
  position: absolute;
  left: 10px;
}

.calculator__slot .icon img {
  height: 20px;
}

.calculator__text {
  font-size: 1.5rem;
  margin: 5px 0;
}

.calculator input {
  border: transparent solid 2px;
  background-color: var(--light-grayish-cyan-variation);
  height: 4rem;
  padding: 10px 10px 10px 40px;
  text-align: right;
  color: var(--very-dark-cyan);
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.calculator__tip {
  margin-top: 25px;
}

.calculator__buttons {
  display: flex;
  flex-wrap: wrap;
}

.calculator__tip-button,
.calculator__buttons input {
  width: 45%;
  height: 50px;
  margin: 5px;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--very-dark-cyan);
  font-size: 2.4rem;
  font-weight: 700;
  border: 0;
}

.button-active {
  color: black;
  background-color: var(--strong-cyan);
}

.calculator__buttons input {
  background-color: var(--light-grayish-cyan-variation);
  padding: 10px;
  color: var(--very-dark-cyan);
}

.calculator__people {
  margin: 25px 0;
}

.calculator__people .calculator__text {
  display: flex;
  justify-content: space-between;
}

.calculator__totals {
  background-color: var(--very-dark-cyan);
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 15px;
}

.totals__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.totals__concept .principal {
  color: var(--white);
  font-size: 1.6rem;
}

.totals__concept .secondary {
  color: var(--dark-grayish-cyan-variation);
}

.totals__amount {
  font-size: 3.5rem;
  color: var(--strong-cyan);
  font-weight: 700;
}

.calculator__button.calculator__button--reset {
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
  border: 0;
  border-radius: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  font-weight: 700;
  background-color: var(--strong-cyan);
}

.warning {
  color: red;
  display: none;
}

.show {
  display: block;
}

/* desktop */

@media (min-width: 1024px) {
  .main {
    display: flex;
    align-items: center;
    position: relative;
  }

  .main__logo {
    position: absolute;
    top: 9vh;
    padding: 0;
  }

  .calculator {
    max-height: 500px;
    border-radius: 25px;
  }

  .calculator-container {
    justify-content: space-between;
  }

  .calculator__interface {
    width: 50%;
  }

  .calculator__tip-button,
  .calculator__buttons input {
    width: 30%;
  }

  .calculator__totals {
    width: 45%;
    position: relative;
    margin: 0;
  }

  .calculator__button.calculator__button--reset {
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
    width: 80%;
    margin: 0 auto;
  }
}
